    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *{
      font-family:Verdana;
    }
    .container{
      height: 420px;
      width: 650px;
      background-color: white;
      box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.425);
      margin: auto;
      margin-top: 100px;
      border-radius: 6%;
    }
    .one{
      position: absolute;
      height: 420px;
      width: 300px;
      border-radius: 6%;
      background-image:linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }
    .circle{
      position: absolute;
      height: 160px;
      width: 160px;
      background-image:linear-gradient( hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
      border-radius: 50%;
      margin-top: 5px;
      margin-left: 25%;
    }
    h1{
      color: hsla(0, 1%, 86%, 0.856);
      margin-top: 30px;
    }
    .per{
      color: white;
      font-size: 50px;
      margin-top: 25px;
      font-weight: 600;
    }
    .of{
      color: hsla(0, 1%, 86%, 0.856);
      font-size: 18px;
      margin-top: -40px;
    }
    .great{
      margin-top: 200px;
      color: white;
      font-size: 30px;
      font-weight: 600;
    }
    .para{
      color: hsla(0, 1%, 86%, 0.856);
      font-size: 15px;
      margin: -10px 40px 20px 40px;
    }
    .sum{
      margin-left: 340px;
      position: absolute;
      color:hsl(224, 30%, 27%);
    }
    .result1,.result2,.result3,.result4{
      height: 50px;
      width: 270px;
      position: absolute;
      border-radius: 10px;
      margin-left: 340px;
    }
    .result1{
      color: rgba(240, 0, 40, 0.815);
      background-color: rgba(253, 161, 176, 0.425);
      margin-top: 70px;
    }
    .result2{
      color: rgb(253, 207, 2);
      background-color: rgba(244, 245, 169, 0.425);
      margin-top: 130px;
    }
    .result3{
      color: rgba(1, 172, 78, 0.788);
      background-color: rgba(192, 255, 195, 0.425);
      margin-top: 190px;
    }
    .result4{
      color: rgba(3, 0, 155, 0.822);
      background-color: rgba(193, 192, 255, 0.425);
      margin-top: 250px;
    }
    img{
      margin-right: 210px;
      margin-top: 15px;
    }
    .icon{
      font-size: 15px;
      margin-left: 50px;
      margin-top: -22px;
      text-align: justify;
    }
    button{
      height: 50px;
      width: 250px;
      position: absolute;
      margin-top: 330px;
      margin-left: 25px;
      border-radius: 30px;
      background-color: hsl(224, 30%, 27%);
      border: hidden;
      cursor: pointer;
    }
    button:active{
      transform: scale(0.9);
      transition: 0.5s;
    }
    .con{
      color: white;
      font-size: 20px;
      margin-top: 10px;
    }
    .mark{
      font-size: 17px;
      position: absolute;
      color: hsl(224, 30%, 27%);
      margin-left: 170px;
      margin-top: -35px;
    }
    .outof{
      margin-left: 198px;
      margin-top: -35px;
      font-size: 17px;
     position: absolute;
     color: hsla(0, 0%, 65%, 0.856);
    }
